.scheduleTimeAnd {
  position: absolute;
  top: 117px;
  left: 173px;
  font-weight: 600;
  display: inline-block;
  width: 278px;
  height: 111px;
}
.label,
.label1 {
  align-self: stretch;
}
.label1 {
  position: relative;
  font-size: var(--body-small-size);
  line-height: 20px;
  font-weight: 500;
  font-family: var(--body-medium);
  color: var(--other-light-background-white);
  text-align: center;
}
.label {
  overflow: hidden;
  align-items: flex-start;
  justify-content: flex-start;
}
.button,
.buttonS41,
.label {
  display: flex;
  flex-direction: column;
}
.button {
  align-self: stretch;
  border-radius: 35px;
  overflow: hidden;
  align-items: flex-start;
  justify-content: flex-start;
}
.buttonS41 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-xl);
  background-color: var(--color-mediumslateblue);
  position: absolute;
  top: 313px;
  left: 189px;
  border-radius: var(--br-xs);
  width: 220px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.buttonS41:hover {
  background-color: var(--color-darkslateblue-200);
}
.schedulePopupChild {
  position: absolute;
  top: 0;
  left: 545px;
  width: 60px;
  height: 38px;
  overflow: hidden;
}
.schedulePopupItem {
  border: 0;
  background-color: var(--color-gainsboro-100);
  position: absolute;
  top: 217px;
  left: 186px;
  border-radius: var(--br-xl);
  width: 223px;
  height: 49px;
}
.schedulePopup {
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--other-light-background-white);
  width: 598px;
  height: 440px;
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
  text-align: center;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
  font-family: var(--font-outfit);
}
